.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	&__start {
		height: 100vh;
		max-width: 640px;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	&__header {
		display: flex;
		justify-content: space-between;
		background: #fff;
	}
	&__features {
		display: flex;
		background: transparent;
		justify-content: space-between;
		flex-flow: row wrap;
		margin: 0 -1.5% ;
	}
	
}