.contact {

	&-header {
		margin-bottom: 77px;
		background: $main_color;
		&__inner { 
			
			display: flex;
			width: 100%;
			max-width: 1200px;
			padding: 20px 15px;
			margin: 0 auto;
			justify-content: space-between;
			align-items: center;
			font: 16px 'ralewayextrabold' sans-serif;
			text-transform: uppercase;
			p {
				color: #e4e4e4;
			}

			.buttons {
				display: flex;
				a {
					background: #e4e4e4;
					text-decoration: none;
					display: block;
					text-transform: uppercase;
					line-height: 10px;
					padding: 15px;
					border-radius: 3px;
					font-size: 13px;
					color: #606060;
					margin-left: 10px; 
				}
			}
		}
		}

		&__content {
			margin-bottom: 90px;
			.swiper-container1 {
				overflow: hidden;
				width: 100%;
				.swiper-wrapper {
					margin-bottom: 15px;
					.swiper-slide {
						width: 50%;
						align-items: center;
						display: flex;
						justify-content: center;	
					}
				}
				.swiper-pagination1 {
					text-align: center;

				}
			}


		}

		.blackquotes {
				position: relative;
				background: $main_color;
				padding-top: 77px;

				.swiper-container2 {
					width: 100%;
					display: flex;
					overflow: hidden;
					display: relative;

					.swiper-slide {
						display: flex;
						flex-direction: column;
						.name {
							margin-bottom: 20px;
							align-self: center;
							background: #e4e4e4;
							border-radius: 3px;
							padding: 15px 30px;
							font: 13px 'ralewaymedium' sans-serif; 
							span {
								text-transform: uppercase;
								font: 13px 'ralewayextrabold' sans-serif;
								color: $main_color;

							}
						}
						.content {
							font: 20px/34px 'ralewaymedium' sans-serif;
							color: #e4e4e4; 
							text-align: center;
							margin-bottom: 100px;
							.double-cases {
								font: 80px 'ralewayregular' sans-serif;
								position: relative;
    							top: 40px;
    							line-height: 0;
							}
						}
					}
					.swiper-button-next2,
					.swiper-button-prev2 {
						z-index: 1;
						position: absolute;
						width: 30px;
						height: 30px;
						border-radius: 3px;
						top: 80%;
						left: 50%;
						transform: translateX(-60%);
						background: #fff;
						&:after {
							content: '';
							display: block;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 7.5px 7px 7.5px 0;
							border-color: transparent $main_color transparent transparent;
						}
						&:hover {
							background: #383838;
							&:after {
								border-color: transparent #e4e4e4 transparent transparent;
							}
						}
					}
					.swiper-button-next2 {
						transform: translateX(60%);
						&:after {
							border-width: 7.5px 0 7.5px 7px;
							border-color: transparent  transparent transparent $main_color;
						}
						&:hover {
							&:after {
								border-color: transparent  transparent transparent #e4e4e4;
							}
						}
					}

				}

			}
	
}
.member {
	width: 270px;
	text-align: center;
	position: relative;
	display: flex;
	flex-direction: column;
	border: 1px solid #dedede;
	border-radius: 3px;
	&:hover {
		.member__img .hover {
			display: flex;
		}
	}

	&__img {
		width: 100%;								
		height: 270px;
		margin-bottom: 35px;
		position: relative;
		.hover {
			display: none;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			justify-content: center;
			align-items: center;
			background: $main_color;
			flex-direction: row;
			.icon {
				text-decoration: none;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 30px;
				height: 30px;
				transform: rotate(45deg);
				border-radius: 5px;
				background: #fff;
				span {
					color: $main_color;
					transform: rotate(-45deg);
					font-size: 16px;
				}
				&:hover {
					background: #383838;
					z-index: 1;
					span {
						color: #e3e3e3;
					}
				}
			}
		}

	}
	img {
		display: block;	
		width: 100%;																							
	}

	&__name {
		position: absolute;
		background: $main_color;
		color: #e4e4e4;
		font: 13px 'ralewayextrabold' sans-serif;
		text-transform: uppercase;
		line-height: 10px;
		padding: 15px;
		border-radius: 3px;
		left: 50%;
		top: 270px;
		white-space: nowrap;
		transform: translate(-50%, -50%);
	}

	&__position {
		font: 12px 'ralewaymedium' sans-serif;
		padding-bottom: 20px;
		border-bottom: 1px solid #ebebeb;
		align-self: center;
		margin-bottom: 15px;
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: center;	

		.email,
		.phone {
			margin-bottom: 15px;
			span {
				font-size: 16px;
				color: 	#aaaaaa;
				margin-right:15px;
			}
			a {
				color: #aaaaaa;
				font: 12px 'ralewaymedium' sans-serif;
				text-decoration: none;
				&:hover {
					color: darken(#aaaaaa, 20%);
				}
			}
		}
	}
}