@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?aoxt63');
  src:  url('../fonts/icomoon.eot?aoxt63#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?aoxt63') format('truetype'),
    url('../fonts/icomoon.woff?aoxt63') format('woff'),
    url('../fonts/icomoon.svg?aoxt63#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-if_Sed-05_2231948:before {
  content: "\e903";
}
.icon-if_check-box-outline_326561:before {
  content: "\e902";
}
.icon-ic_desktop_mac_black_24px:before {
  content: "\e900";
}
.icon-puzzle-piece:before {
  content: "\e901";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-lifebuoy:before {
  content: "\e941";
}
.icon-phone:before {
  content: "\e942";
}
.icon-hour-glass:before {
  content: "\e979";
}
.icon-search:before {
  content: "\e986";
}
.icon-key:before {
  content: "\e98d";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-mail3:before {
  content: "\ea85";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-vimeo:before {
  content: "\eaa0";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-linkedin2:before {
  content: "\eaca";
}





@font-face {
      font-family: "ArialRegular";
      src: url("../fonts/ArialRegular/ArialRegular.eot");
      src: url("../fonts/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
      url("../fonts/ArialRegular/ArialRegular.woff") format("woff"),
      url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
      font-style: normal;
      font-weight: normal;
  }






@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/raleway-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}






@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


