.header {
	border-bottom: 2px solid #dedede;
	padding: 30px 0;
	margin-bottom: 80px;
	position: sticky;
	width: 100%;
	overflow: hidden;
	top: 0;
	background: #fff;
	z-index: 10;
	
	&__logo {		
		img {
			display: block;
			

		}
	}

		.nav {
			.burger {
					position: absolute;
					top: 0;
					right: 20px;
					width: 40px;
					height: 40px;
					background: rgba(255,255,255, 0);
					border-radius: 5px;
					display: none;
				

				& span,
				&:after,
				&:before {
					content: '';
					position: absolute;
					left: 5px;
					right: 5px;
					height: 4px;
					background: #1bbc9b;
					top: 50%;
					margin-top: -2px;
					border-radius: 2px;
					transition: all 0.3s ease;
				}

				&:after {
					margin: 7px 0 0;
				}

				&:before {
					margin-top: -11px;
				}
				&.active {

					& span {
						opacity: 0;
					}

					&:after {
						transform: rotate(-45deg);
						margin: 0;
					}

					&:before {
						transform: rotate(45deg);
						margin: 0;
					}
				}
				}
			&__list {
				display: flex;
				margin-right: -15px;
				}
				&__item {
					margin-right: 15px;
					position: relative;
					a{
						font: 13px 'ralewayextrabold' sans-serif;
						text-transform: uppercase;
						text-decoration: none;
						display: block;
						height: 40px;
						line-height: 10px;
						padding: 15px;
						border-radius: 3px;
						color: #606060;
						&:hover {
							background: $main_color;
							color: #fff;
						}
				}
				.icon-search {
					line-height: 40px;
				}
				input[type='search'] {
					position: absolute;
					visibility: hidden;
					left: 200px;
					top: 100%;
					width: 200px;
					height: 30px;
					border-radius: 5px;
					border: 2px solid #666;
					&.active {
						
						visibility: visible;
						transform: translateX(-400px);
						transition: transform 0.3s ease;

					}
				}
				}
			
		}
	

@media (max-width: 985px) {
	.nav {
		position: relative;
		.burger {
			display: block;
		}
		&__list {

			margin: 0;
			z-index: 210;
			position: fixed;
			right: -240px;
			background: #fff;
			width: 240px;
			top: 70px;
			min-height: 100vh;
			display: block;
			transition: all 0.3s 0.3s;
			&.active {
				right: 0;
			}
			.icon-search {
				display: none;
			}
			input[type='search'] {
			position: static;
			visibility: visible;
			margin-left: 15px;
			
			&.active {
				transform: translateX(0);
				transition: none;
			}
			}
		}
	}
}
}