.offer	{
	display: flex;
	flex-direction: column;
	align-items: center;
	.description {
		width: 100%;
		font: 16px 'ralewaymedium' sans-serif;
		text-transform: uppercase;
		text-align: center;
		color: #8a8a8a;
		margin-bottom: 50px;
	}

	.content {
		display: flex;
		width: 100%;
		justify-content: space-between;
		margin:  0 -0.5% 110px 0;

		&__item {
			width: 33%;
			margin: 0 0.5%; 
			display: flex;
			flex-direction: column;
			align-items: center;
			transition: all 0.3s ease;
			&:hover {
				transform: scale(1.1);
				.icon {
					
					background: $main_color;
					
				}

				.link {
					a{
						background: $main_color;
						border: 1px solid $main_color;
						color: #fff;
					}
				}
			}
			a {
				text-decoration: none;
				&:hover {

				}
			}
			.icon {
				display: flex;
				margin: auto;
				width: 100px;
				height: 100px;
				border-radius: 100%;
				background: #383838;
				margin-bottom: 30px;
				font-size: 34px;
				color: #fff;
				justify-content: center;
				align-items: center;
				span {
					display: inline-block;
					
				}
			}

			h3 {
				font: 14px 'ralewayextrabold' sans-serif;
				text-transform: uppercase;
				margin-bottom: 20px;
			}
			.text {
				font: 14px/24px 'ralewaymedium' sans-serif;
				margin-bottom: 20px;
				text-align: center;
				color: #7a7a7a;
			}
			.link {
				a {
					text-decoration: none;
					text-transform: uppercase;
					font: 10px 'ralewayextrabold' sans-serif;
					height: 30px;
					line-height: 6px;
					padding: 12px;
					border: 1px solid #dedede;
					border-radius: 3px;
					color: #8a8a8a;
					transition: opacity 0.3s linear;
					&:hover {
						opacity: 0.7;
					}
				}

			} 


		} 
		@media (max-width: 700px) {
			flex-wrap: wrap;
			.content__item {
				width: 100%;
				margin-bottom: 40px;
				.text {
					max-width: 480px;
				}
			}
		}
	}
}