.top-section-icon {
	position: absolute;
	top: 0;
	left: 50%;
	width: 40px;
	height: 40px;
	background: $main_color;
	border-radius: 3px;
	transform: translate(-50%, -50%) rotate(45deg);
	display: flex;
	justify-content: center;
	align-items: center;
	span {
		display: block;
		transform: rotate(135deg);
		color: #fff;

	}
	&__skills,
	&__blackquotes {
		span {
			transform: rotate(-45deg);
		}
	}

	&__blackquotes {
		background: #383838;
		span {
			font: 25px 'raleway' sans-serif;			    
		    line-height: 1;
		    position: relative;
		    top: 4px;
		    left: 4px;
		}
	}
}
footer .top-section-icon {
	cursor: pointer;
}
#scroll-top:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
	    width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 0 7px 7px 7px;
	    border-color: transparent transparent #fff transparent;

	}