@import "partials/reset";
@import "partials/fonts";
@import "partials/variable";
@import "partials/normalize";
@import "partials/start";
@import "partials/offer";
@import "partials/features";
@import "partials/title";
@import "partials/skills";
@import "partials/works";
@import "partials/facts";
@import "partials/contact";
@import "partials/swipers";
@import "partials/prices";
@import "partials/header";
@import "partials/map";
@import "partials/footer";




*,
*:before,
*:after {
	box-sizing: border-box;
}
h3 {
		font: 16px 'ralewaymedium' sans-serif;
		color: #606060;
		text-align: center;
		margin-bottom: 50px;
	}

.wrapper {
width: 100%;
background: #f9f9f9;
}

.top-section-icon {
	position: absolute;
	top: 0;
	left: 50%;
	width: 40px;
	height: 40px;
	background: $main_color;
	border-radius: 3px;
	transform: translate(-50%, -50%) rotate(45deg);
	display: flex;
	justify-content: center;
	align-items: center;
	span {
		display: block;
		transform: rotate(135deg);
		color: #fff;

	}
	&__skills,
	&__blackquotes {
		span {
			transform: rotate(-45deg);
		}
	}

	&__blackquotes {
		background: #383838;
		span {
			font: 25px 'raleway' sans-serif;			    
		    line-height: 1;
		    position: relative;
		    top: 4px;
		    left: 4px;
		}
	}
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	&__start {
		height: 100vh;
		max-width: 640px;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	&__header {
		display: flex;
		justify-content: space-between;
	}
	&__features {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		margin: 0 -1.5% ;
	}
}






